*{
    margin: 0;
    padding: 0;

}

.div-header{
    display: flex;
    align-items: center;
}

.titulo-header{
    position: absolute;
    font-size: 15px;
    width: 100px;
    color: #ffffff;
    margin-left: 140px;
}

.img-header{
    width: 100%;
}

a{
    padding: 20px;
    margin: 0;
    text-decoration: none;
}

span{
    font-size: 20px;
}

.sidebar{
    background-color: rgb(202, 202, 202);
    width: 10%;
    height: 500px;
}

.categorias{
    border: 1px solid rgb(233, 232, 232);
    padding: 10px;
}

.produtos{
    border: 1px solid rgb(233, 232, 232);
    padding: 10px;
}
