*{
    margin: 0;
    padding: 0;

}

.div-header{
    display: flex;
    align-items: center;
}

.titulo-header{
    position: absolute;
    font-size: 15px;
    width: 100px;
    color: #ffffff;
    margin-left: 140px;
}

.img-header{
    width: 100%;
}

a{
    padding: 20px;
    margin: 0;
    text-decoration: none;
}

span{
    font-size: 20px;
}

.conteudo{
    display: flex;
    flex-direction: row;
}
.sidebar{
    background-color: rgb(236, 234, 234);
    width: 10%;
    height: 645px;
}


.categorias{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(255, 255, 255);
}

.categoria-titulo{
    color: rgb(11, 11, 133);
    margin: 30px;
    font-size: 20px;
}

.produtos{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(255, 255, 255);
}

td{
    border-bottom: 1px solid rgb(184, 182, 182);
}

.acoes{
   padding: 3px;
}