*{
    margin: 0;
    padding: 0;

}

header{
    background-color: rgb(177, 172, 248);
    padding: 20px;
    width: 100%;
    height: 30px;
}

a{
    padding: 20px;
    margin: 0;
    text-decoration: none;
}